<h2>Add new celebrity</h2>

<form action="/celebrities/create" method="POST">

    <div>
      <label for="name">Name:</label>
      <br />
      <input type="text" name="name" />
    </div>

    <div>
        <label for="occupation">Occupation:</label>
        <br />
        <input type="text" name="occupation">
    </div>

    <div>
        <label for="catchPhrase">Catchphrase:</label>
        <br />
        <input type="text" name="catchPhrase">
    </div>

    <button type="submit">Add new celebrity</button>

</form>